---
import "../global.css";
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav";
import {FaAngleRight, FaRegClock} from "react-icons/fa6";
import {LuCherry} from "react-icons/lu";
import Meetings from "../components/Meetings";
import Pane from "../components/Pane";
import {GameJamCountdown} from "../components/GameJam";
import gameJamPoster from "../assets/GameJam.png";
import {Image} from "astro:assets";
import Footer from "../components/Footer";
import GameJamFaq from "../components/GameJamFaq";
import Time from "../components/Time";
import { gameJamEndDate } from "../Config";
import { FaExternalLinkAlt } from "react-icons/fa";
---

<Base title="Game Jam 2025 | Woodlands Computer Science" description="Woodlands CS 2025 game jam, from September 16 to October 13.">
    <Nav client:load active="/game-jam" />
    <main class="p-4 pt-0 lg:pt-4 h-full flex flex-col w-7xl max-w-full lg:mr-4 gap-4 min-w-0">
        <Pane>
            <div class="flex flex-col-reverse xl:flex-row items-start justify-between p-5">
                <div class="flex flex-col flex-1">
                    <h1 class="text-5xl font-bold mb-4">Game Jam 2025</h1>
                    <div class="text-xl grid grid-cols-[auto_1fr] gap-x-2 gap-y-3 items-start">
                        <strong class="icon-text"><FaRegClock />When: </strong>
                        <span>September 22 to <Time dateTime={gameJamEndDate} format="MMMM d" /></span>
                        <strong class="icon-text"><LuCherry />Theme: </strong>
                        <span>Comes in Pairs</span>
                    </div>
                    <div class="hline my-8" />
                    <div class="flex flex-col gap-4">
                        <p>
                            This year, we want you to think of duos, doubles, and twins&mdash;&mdash;things
                            that can't exist alone.
                            Whether it's intertwined characters, puzzles with matching parts, or parallel dimensions,
                            your challenge is to build a game around the power of pairs.
                        </p>
                        <p>
                            Join us in Room 100 for lessons on how to use the Godot game engine, and feel free to ask on
                            on Discord for help on any challenges you encounter.
                        </p>

                        <p>
                            <b>The game jam has concluded.</b>
                        </p>

                        
                        <div class="flex flex-row gap-4 items-start mt-4 max-w-full flex-wrap">
                            <a href="http://localhost:4321/posts/2025-10-25-game-jam-results" class="btn text-brand border-brand shadow-brand" role="button">
                                Winners <FaAngleRight />
                            </a>
                            <a href="https://itch.io/jam/woodlands-cs-club-jam-2025" class="btn" role="button">View on Itch.io <FaExternalLinkAlt /></a>
                        </div>

                    </div>
                    <div class="hline my-8" />
                    <h2 class="text-3xl font-bold mb-4">FAQ</h2>
                    <GameJamFaq client:load />
                </div>
                <div class="xl:max-w-3/7 flex flex-col sm:max-w-3xl lg:w-full sm:flex-row xl:flex-col gap-8 xl:sticky xl:top-8 mb-8 xl:my-0 xl:mx-8">
                    <Image alt="Game jam poster" src={gameJamPoster} class="max-w-full sm:max-w-1/2 xl:max-w-full" />
                    <GameJamCountdown client:load />
                </div>
            </div>
        </Pane>
        <Footer />
    </main>
</Base>