---
import { Image } from 'astro:assets';
import Base from "../layouts/Base.astro";
import HomeNav from "../components/HomeNav";
import Pane from "../components/Pane";
import {FaAngleRight} from "react-icons/fa6";
import Meetings from "../components/Meetings";
import Footer from "../components/Footer";
import { getCollection } from 'astro:content';
import hackPeelImage from '../assets/HackPeelLogo.png';
import gameJamImage from '../assets/GameJam.png';
import { NewsBar, NewsItem } from '../components/NewsBar';
import Time from '../components/Time';
import HeroHeading from '../components/HeroHeading';
import { gameJamEndDate } from '../Config';

const posts = (await getCollection('posts')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
).slice(0, 5);

const desc = `
Welcome to the Woodlands School computer science community!
Join us weekly for lessons, workshops, and contests.
`
---
<Base title="Woodlands Computer Science" description={desc}>
    <HomeNav client:load />
    <main class="p-4 pt-0 lg:pt-4 h-full min-w-0 max-w-full w-7xl flex flex-col lg:mr-4 gap-4" >
        <Pane trafficLight={false} className="border-1 border-neutral-700 overflow-clip">
            <HeroHeading client:load />
            <div class="px-5 flex flex-col gap-4 items-start pt-8 inset-shadow-[0_15px_15px_-13px_rgba(0,0,0,0.9)]">
                <h2 class="text-3xl font-bold md:px-12">Latest Updates</h2>
                <NewsBar client:load>
                    {posts.map((p, idx) => <NewsItem href={"/posts/" + p.id}>
                        {p.data.image ?
                            <div class="w-full img-shadow-b relative">
                                <Image priority={idx < 4} src={p.data.image} alt={p.data.title} class="w-full aspect-video object-cover"/>
                                <h3 class="text-lg/6 text-foreground-bright font-bold line-clamp-2 absolute mx-4 left-0 bottom-1">{p.data.title}</h2>
                            </div> 
                            :
                            <h3 class="text-lg text-foreground-bright font-bold line-clamp-2 w-full h-16 px-4 py-2">{p.data.title}</h2>
                        }
                        <article class="p-4 pt-2">
                            <Time dateTime={p.data.date} format='d MMMM yyyy' className="text-ellipsis" />
                            <p class="mt-2 text-pretty overflow-ellipsis max-h-full line-clamp-6 z-1">{p.data.description}</p>
                        </article>
                    </NewsItem>)}
                </NewsBar>
                <a href="/posts" class="text-center mx-auto icon-text">View all <FaAngleRight /></a>
            </div>
            <div class="hline mx-5 sm:mx-17 my-8" />
            <div class="flex flex-col-reverse xl:flex-row items-start px-5 md:px-17">
                <div>
                    <div class="flex flex-col gap-4 max-w-3xl items-start">
                        <h2 class="text-3xl font-bold" id="game-jam">Game Jam 2025</h2>
                        <p>This month, we're once again hosting our annual game jam! The theme this year is <strong>Comes in Pairs</strong>.</p>
                        <p>Are you passionate about art, modeling, music, or coding? Have you always wanted to make a game of your very own?
                            Come join us in Room 100, where we'll teach you how to use the <strong>Godot Game Engine</strong>&mdash;&mdash;no
                            technical or gamedev experience necessary.</p>
                        <p class="text-foreground-dimmed text-sm"><i>Submissions are due on <Time format="MMMM dd" dateTime={gameJamEndDate} />.</i></p>
                        <a href="/game-jam" class="btn" role="button">Details <FaAngleRight /></a>
                    </div> 
                    <div class="hline my-8" />
                    <div class="flex flex-col max-w-xl">
                        <h2 class="text-3xl font-bold" id="calendar">Calendar</h2>
                        <Meetings client:load showNextMeeting />
                    </div>
                </div>
                <Image priority alt="Game jam poster" src={gameJamImage} class="xl:sticky xl:top-8 w-full sm:max-w-5/7 mx-auto xl:max-w-3/7 mb-8 xl:my-0 xl:ml-12" />
            </div>
            <div class="hline mx-5 sm:mx-17 my-8" />
            <div class="flex flex-col-reverse xl:flex-row items-center justify-between pt-0 p-5 sm:px-17">
                <article class="flex flex-col gap-4 items-start max-w-3xl">
                    <h2 class="text-3xl font-bold">hack::peel</h2>
                    <p>
                        hack::peel is the Woodlands' annual Peel-wide hackathon.
                        Join over 100 students from across the Peel region and turn a special idea into your very own hack!
                    </p>
                    <p>
                        Students enrolled in a Peel region high-school (including DPCSB) are eligible to participate in hack::peel.
                    </p>
                    <p class="text-foreground-dimmed text-sm"><i>More details coming soon, stay tuned!</i></p>
                </article>
                <Image alt="hack::peel logo" src={hackPeelImage} class="hidden lg:block w-lg md:max-w-3/4 my-8 xl:m-8" />
            </div>
        </Pane>
        <Footer />
    </main>
</Base>
