---
import Pane from "../components/Pane";
import Base from "./Base.astro";
import Footer from "../components/Footer";
import {formatDate, isValid} from "date-fns";
import TableOfContents, { type Heading } from "../components/TableOfContents";
import {FaAngleLeft} from "react-icons/fa6";
import Nav from "../components/Nav";
import InterceptExternalLinks from "../components/InterceptExternalLinks";
import Time from "../components/Time";
const { frontmatter, headings } = Astro.props;
const date = new Date(frontmatter.date);

interface RawHeading {
    depth: number;
    text: string;
    slug: string;
}

function buildTOC(rawHeadings: RawHeading[]): Heading[] {
    const result: Heading[] = [];
    const parents: Map<number, Heading> = new Map();
    for (const rawHeading of rawHeadings) {
        let heading: Heading | undefined = undefined;
        if (rawHeading.depth == 2) {
            result.push(heading={...rawHeading, children: []});
        } else {
            parents.get(rawHeading.depth-1)?.children.push(heading={...rawHeading, children: []});
        }
        if (heading) parents.set(rawHeading.depth, heading);
    }
    return result;
}

const toc = buildTOC(headings);
---
<Base title={frontmatter.title} description={frontmatter.description} >
    <InterceptExternalLinks client:load />
    <Nav client:load active="/posts" />
    <main class="p-4 pt-0 lg:pt-4 h-full flex flex-col w-7xl max-w-full lg:mr-4 gap-4 min-w-0 overflow-x-auto" >
        <div class={"mx-auto flex flex-col gap-4 blog-post max-w-full " + (frontmatter.slides ? "w-full" : "w-3xl")}>
            <Pane>
                <a href="/posts/" class="btn p-0 icon-text mb-4 ml-5"><FaAngleLeft/>All Posts</a>
                <article class="max-w-full p-5">
                    <h1>{frontmatter.title}</h1>
                    <p>
                        {isValid(date) && <Time dateTime={date} format="dd MMMM yyyy" />}
                    </p>
                    <hr />
                    {frontmatter.slides &&
                            <p class="text-yellow-300 my-4 italic">This content may require a PDSB account.</p>
                    }
                    {!frontmatter.slides &&
                        <nav class="mt-4 mb-8  ml-4 rounded-2xl p-4 border-1 toc border-neutral-700 max-w-sm">
                            <h2 class="mt-0">Table of Contents</h2>
                            <ol>
                                {toc.map(heading => <TableOfContents heading={heading} />)}
                            </ol>
                        </nav>
                    }
                    <div class="blog-contents w-full">
                        <slot />
                    </div>
                </article>
            </Pane>
            <Footer />
        </div>
    </main>
</Base>